{% extends 'base.html' %}
{% block title %}Contact{% endblock title %}
{% block body %}

<div class="container-fluid  px-0 mb-3">
    <img src="/static/images/ims/image-contact-2.jpg" class="d-block w-100 " alt="...">
    <!-- <img src="https://source.unsplash.com/1600x600/?Icecream" class="d-block w-100 " alt="..."> -->
</div>
<div class="container mb-3">
    <h3 class="text-center">Contact Us</h3>
    <!-- <h3 class="text-center">PHONE-No:9604773959;EMAIL:kishan.kadam.cs@ghriet.raisoni.net</h3> -->
    <hr>
    <hr>
    <!-- <h3 class="text-center">kishan.kadam.cs@ghriet.raisoni.net</h3> -->
    <form method="post" action="/contact">
        {% csrf_token %}
        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email-adress">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone-Number</label>
            <input type="Phone" class="form-control" id="Phone"name="phone" placeholder="Enter your Phone-Number">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Tell me what you want to contact me for,,</label>
            <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">submit</button>
    </form>

</div>


{% endblock body %}